/* display container on top of page content */
#ui-uihk-exnot-displayMessage-container {
    position: fixed;
    z-index: 1050; /* make sure the messages are displayed on top of the toolbar and other elements */
    width: 100%;
}

/* if the examination view is not used, we need to set a maximum width so the close button is visible */
body.std #ui-uihk-exnot-displayMessage-container {
    max-width: 1400px; /* use same maximum width as .ilContainerWidth */
    padding-right: 60px; /* override container margins */
}

@media only screen and (max-width: 767px) {
    body.std #ui-uihk-exnot-displayMessage-container {
        padding-right: 30px; /* override container margins */
    }
}

/* using the examination view, the message is displayed across the whole screen */
body.kiosk #ui-uihk-exnot-displayMessage-container {
    padding-right: 4em; /* override container margins */
}

/* display alert title as separate line */
#ui-uihk-exnot-displayMessage-container .alert-title, #ui-uihk-exnot-messagePreview-container .alert-title {
    display: block;
}