<form method="post" class="form-horizontal">
    <div class="form-group">
        <label for="ui-uihk-exnot-setMessage-messageText" class="col-sm-3 control-label">{MESSAGE_TEXT_LABEL}</label>
        <div class="col-sm-9">
            <input type="text" id="ui-uihk-exnot-setMessage-messageText" name="messageText" class="form-control" maxlength="200" required />
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">{MESSAGE_TYPE_LABEL}</label>
        <div class="col-sm-9">
            <div class="radio">
                <label>
                    <input type="radio" name="messageType" value="0" checked>
                    {MESSAGE_TYPE_INFO}
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="messageType" value="1">
                    {MESSAGE_TYPE_WARNING}
                </label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-9 col-sm-push-3">
            <button type="submit" class="btn btn-default">{MESSAGE_SUBMIT}</button>
        </div>
    </div>
</form>